# Dependencies
node_modules/
dist/
dist-ssr/
*.local

# Environment
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDEs
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db
